@use "../../abstracts/" as *;

.catalog-products-container {
  .catalog-products {
    &.grid-view {
      display: grid;
      margin: getMargin(600) 0;
      gap: getMargin(600);

      @include md {
        grid-template-columns: repeat(2, 1fr);
      }

      @include lg {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.list-view {
      display: grid;

      .product {
        max-width: 350px;
        border: none;
        flex-direction: column;
        align-items: flex-start;
        gap: getMargin(200);
        padding: getPadding(1000);

        .img-container {
          img {
            width: 200px;
            height: 200px;
          }

          .sale-div {
            transform: translate(-80%, 100%);
          }
        }

        .info .name {
          max-width: 190px;
        }

        @include sm {
          flex-direction: row;
          max-width: 600px;
          gap: getMargin(800);
        }

        @include md {
          gap: getMargin(1300);
        }
      }
    }
  }

  .btn-load-more {
    @include btn-load-more;
    margin: getMargin(1000) auto;

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }
}
