@use "../../abstracts/" as *;

.catalog-products-container {
  .btn-load-more {
    @include btn-load-more;
    margin: getMargin(1000) auto;

    &.show {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }
}
