@use "../../abstracts/" as *;

.filter-modal {
  position: fixed;
  right: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: getColor("text-3-clr");
  overflow: hidden;
  transition: width 0.3s ease;

  &.show {
    width: 100%;
  }

  &.hide {
    width: 0%;
  }
}
