@use "./abstracts" as *;
@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./pages" as *;
// @use "./vendors/" as *;

//GLOBAL_STYLES
body {
  background-color: getColor("bg-color");
  color: getColor("text-color");
  background-color: getColor("text-2-clr");
  font-weight: 500;

  .container {
    width: 95%;
    margin: 0 auto;

    @include sm {
      width: 93%;
    }

    @include lg {
      max-width: 1400px;
      width: 90%;
    }
  }

  .content-container {
    width: 95%;
    margin: 0 auto;

    @include sm {
      width: 96%;
    }

    @include lg {
      max-width: 1510px;
      width: 93%;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Montserrat", sans-serif;
  }

  // xs fontsizes
  p {
    @include text(300);
  }

  a {
    @include text(300);
    color: getColor("text-3-clr");
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    @include text(1000);
    color: getColor("heading-1-clr");
  }

  h2 {
    @include text(800);
    color: getColor("heading-2-clr");
  }

  h3 {
    @include text(700);
    color: getColor("heading-3-clr");
  }

  h4 {
    @include text(600);
    color: getColor("heading-4-clr");
  }

  h5 {
    @include text(500);
    color: getColor("heading-5-clr");
  }

  // md fontsizes
  @include md {
    p {
      @include text(400);
    }

    a {
      @include text(400);
    }

    h1 {
      @include text(1100);
    }

    h2 {
      @include text(900);
    }

    h3 {
      @include text(800);
    }

    h4 {
      @include text(700);
    }

    h5 {
      @include text(600);
    }
  }
}
