$main-colors-palette: (
  clr-red-dark: hsl(360, 67%, 44%),
  clr-red-light: hsl(360, 71%, 66%),
  clr-green-dark: hsl(125, 67%, 44%),
  clr-green-light: hsl(125, 71%, 66%),
  clr-yellow-dark: hsl(56, 100%, 57%),
  clr-yellow-light: hsl(56, 71%, 66%),
  light-shadow: rgba(0, 0, 0, 0.1),
  dark-shadow: rgba(0, 0, 0, 0.2),
  clr-black: #222,
);

$color-palette-1: (
  clr-1: #3853d8,
  clr-2: #0021c4,
  clr-3: #cab5a4,
  clr-4: #f5f5f5,
  clr-5: #363637,
  clr-red: #f44336,
  clr-yellow: #ffeb3b,
  clr-green: #4caf50,
  clr-black: #000,
  clr-blue: #0021c4,
  bg-clr: #3853d8,
  heading-1-clr: #fff,
  heading-2-clr: #fff,
  heading-3-clr: #000,
  heading-4-clr: #fff,
  heading-5-clr: #fff,
  text-1-clr: #232323,
  text-2-clr: #363637,
  text-3-clr: #fff,
);
