// Montserrat
@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("Montserrat"),
    url(../../fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("Montserrat"),
    url(../../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: local("Montserrat"),
    url(../../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

// PlayfairDisplay
@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: local("Playfair Display"),
    url(../../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf)
      format("truetype");
}

// Poppins
@font-face {
  font-family: "Poppins", sans-serif;
  src: local("Poppins"),
    url(../../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
