@use "../abstracts/" as *;

.todo-app {
  h1 {
    padding: getPadding(1000) 0;
  }

  .todo-form {
    padding: getPadding(1000) 0;

    .form-input {
      margin: getMargin(500) auto;

      label {
        text-align: left;
        display: inline-block;
        min-width: 90px;
        padding-bottom: getPadding(200);
      }

      input {
        width: 13rem;
        margin-left: getMargin();
        padding: getPadding(200);
        @include radius;
      }
    }

    .btn {
      margin: getMargin(1000) auto;
    }
  }

  .todo-list {
    max-width: 30rem;
    margin: 0 auto;
  }

  .todo-item {
    display: flex;
    gap: getMargin();
    justify-content: space-evenly;
    padding: getPadding(600) 0;

    &.editing {
      .update-btn {
        background-color: getMainColor("clr-green-dark");
      }
    }

    p {
      padding: getPadding();
      background-color: getColor("color-1");
      @include radius;
    }

    .delete-btn {
      background-color: getMainColor("clr-red-dark");
    }

    .update-btn {
      background-color: getMainColor("clr-yellow-dark");
      margin-left: getMargin();
    }

    .control-btns {
      display: flex;
      margin-left: auto;
      & > * {
        cursor: pointer;

        &:hover {
          color: getColor("text-color");

          path {
            stroke: getColor("color-5");
          }
        }
      }
    }

    button {
      display: flex;
      align-items: center;
      @include radius;
    }

    svg {
      @include text(800);
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: getMargin(700);

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 12rem;
      min-height: 5rem;
      background-color: getColor("text-color");
      color: getColor("bg-color");
      @include radius;
      cursor: pointer;

      p {
        @include text(900);
      }

      * {
        pointer-events: none;
      }
    }
  }

  .css-animations {
    .red-square {
      width: 200px;
      height: 200px;
      background-color: red;
      @include radius;
      box-shadow: 15px 10px teal;
      animation-name: slide;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      // animation-delay: 2s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
    }

    .yellow-circle {
      width: 220px;
      height: 220px;
      margin-top: getMargin(1300);
      background-color: getMainColor("clr-yellow-dark");
      border-radius: 50%;
      border: 0.43rem solid getMainColor("clr-green-dark");
      animation-name: bounce;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-iteration-count: 3;
    }
  }

  @keyframes slide {
    from {
      transform: translate(-50%);
    }

    to {
      transform: translate(0, 0);
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-100px);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      transform: scale(1, 1) translateY(-7px);
    }
    64% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
}
