@use "../../../abstracts/" as *;

.filters-container .filter-el-container {
  .children-container .colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: getMargin(900) getMargin(300);
    margin-bottom: getMargin(700);

    @include md {
      grid-template-columns: repeat(5, 1fr);
    }

    & > p {
      padding-bottom: getPadding(200);
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      border-radius: 50%;
      cursor: pointer;
    }

    .red {
      background-color: getColor("clr-red");

      &.chosen-clr {
        box-shadow: 0 0 2px 2px getColor("clr-red");
        border: 1px solid getColor("clr-red");
      }
    }
    .blue {
      background-color: getColor("clr-blue");

      &.chosen-clr {
        box-shadow: 0 0 2px 2px getColor("clr-blue");
        border: 1px solid getColor("clr-blue");
      }
    }
    .black {
      background-color: getColor("clr-black");

      &.chosen-clr {
        box-shadow: 0 0 2px 2px getColor("clr-black");
        border: 1px solid getColor("clr-black");
      }
    }
    .yellow {
      background-color: getColor("clr-yellow");

      &.chosen-clr {
        box-shadow: 0 0 2px 2px getColor("clr-yellow");
        border: 1px solid getColor("clr-yellow");
      }
    }
    .green {
      background-color: getColor("clr-green");

      &.chosen-clr {
        box-shadow: 0 0 2px 2px getColor("clr-green");
        border: 1px solid getColor("clr-green");
      }
    }

    .chosen-clr {
      background-color: getColor("text-3-clr");
    }

    .chosen {
      color: getColor("text-1-clr");
      font-size: 1.2rem;
    }
  }
}
