@use "../abstracts/" as *;

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: getColor("text-1-clr");
  z-index: 9999;
  transition: width 0.17s linear;
  overflow: hidden;

  &.show {
    width: 100%;
    height: 100%;
    padding: getPadding(1000);
  }

  &.hidden {
    width: 0;
    height: 0;
    padding: 0;
  }

  .sidebar {
    position: relative;
    width: 90%;
    min-width: 290px;
    max-width: 700px;
    margin: 0 auto;

    .close-btn {
      margin-top: getMargin(300);
      height: 33px;
      width: 33px;
      border: 0;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 2.2rem;
      color: getColor("clr-red");
      background-color: black;
      cursor: pointer;
      @include radius;
    }

    .login-signup {
      flex-direction: column;
      align-items: flex-start;

      .shop-cart-container {
        a {
          margin-right: getMargin();
        }
        .shop-cart {
          margin-right: 0;
        }
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;

      & > :first-child {
        padding-top: getPadding(300);
      }
    }

    .nav-links > a,
    .nav-links .link-falldown .link-name,
    .login-signup > a {
      width: auto;
      @include text(600);
      padding-bottom: getPadding(600);
    }

    .nav-links .link-falldown {
      padding-bottom: getPadding(600);

      .sublinks-container .sublinks {
        display: flex;
        flex-direction: column;
        padding: getPadding() 0;

        a {
          color: getColor("clr-1");
          @include text(500);
          font-weight: 700;
        }
      }

      .sublinks-container .img-container {
        display: none;
      }
    }
  }
}
